%footer
  %h1(class="hide") フッター
  .grid.clearfix
    .col_4
      %h2 About Us
      %ul
        %li 運営者：Tomomichi Onishi
        %li Mail：info@eure-ka.me
        %li
          Web：
          %a(href="http://www.enthuse.me/kame_f_no7#/" target="_blank") http://www.enthuse.me/kame_f_no7#
    .col_4
      %h2 Links
      %ul
        %li
          %i(class="icon-double-angle-right")
          書店の方へ
        %li
          %i(class="icon-double-angle-right")
          プライバシーポリシー
        %li
          %i(class="icon-double-angle-right")
          特定商取引法に基づく表示
    .col_4
      %h2 Facebook
      .fb-like-box(data-href="https://www.facebook.com/ComicSurprise" data-width="292" data-height="260" data-show-faces="true" data-stream="false" data-show-border="true" data-header="true")
