%header
  .div
    %h1
      %a(href="index.html") BOOK PAD
    %small BETA
  %nav
    %ul
      %li
        %a(href="#benefit")
          %i(class="icon-double-angle-right")
          サービスの特長
      %li
        %a(href="#flow")
          %i(class="icon-double-angle-right")
          ご利用の流れ
      %li
        %a(href="#price")
          %i(class="icon-double-angle-right")
          料金プラン
      %li
        %a(href="#faq")
          %i(class="icon-double-angle-right")
          よくある質問
