%header
  .center
    %h1 book pad
    %small BETA
  %nav
    %ul
      %li
        %a(href="#" class="button disabled")
          %i.icon-reply.icon-large
          BACK
      %li
        %a(href="/" class="button")
          %i.icon-home.icon-large
          HOME
