%meta(charset="utf-8")
%title BOOK PAD
%link(rel='stylesheet' href='/css/kickstart.css')
%link(rel='stylesheet' href='/css/main.css')
%link(href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css')
