%meta(charset="utf-8")
%meta(name="keywords" content="BOOK PAD,本,在庫検索,本屋,書店,検索端末,iPad")
%meta(name="description" content="BOOK PADは、iPadを利用した書店の店頭設置用在庫検索端末です")
%title BOOK PAD | 本屋さんの在庫検索端末
%link(rel='stylesheet' href='/css/kickstart.css')
%link(rel='stylesheet' href='/css/main.css')
%link(href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css')
%script(src="/js/jquery-1.9.1.min.js")
%script(src="/js/kickstart.js")
%script(src="/js/trunk8.js")
%script(src="/js/script.js")
%link(rel='apple-touch-icon' href='/img/icon.png')
%meta(content='yes' name='apple-mobile-web-app-capable')
%meta(name='format-detection' content='telephone=no')
