%section#search
  %h1.hide 検索エリア
  .grid
    .col_12
      %input(type="text" name="keyword" placeholder="#{t 'search.placeholder'}")
      %a(href="#" class="button orange large pjax")
        %i(class="icon-search")
        %span #{t 'search.button'}
