%section#search
  %h1.hide 検索エリア
  .grid
    .col_12
      %input(type="text" name="keyword" placeholder="本のタイトル、著者名、出版社名など")
      %a(href="/search" class="button orange large pjax")
        %i(class="icon-search")
        %span 検索
