!!!
%html(lang="ja")
  %head
    = haml :"shared/_meta_about"
  %body
    %header
      %h1
        %a(href="index.html") BOOK PAD
      %nav
        %ul
          %li
            %a(href="#benefit")
              %i(class="icon-double-angle-right")
              サービスの特長
          %li
            %a(href="#flow")
              %i(class="icon-double-angle-right")
              ご利用の流れ
          %li
            %a(href="#price")
              %i(class="icon-double-angle-right")
              料金プラン
          %li
            %a(href="#faq")
              %i(class="icon-double-angle-right")
              よくある質問

    %div(id="container")
      %section(id="about")
        .grid
          .col_6
            %img(src="/img/about/ipad.png")
          .col_6
            %h1
              あなたの本屋で、お客さんが<br>求めている本を可視化します。
            %p
              BOOK PADは、iPadを利用した書店向けの「店頭在庫検索端末」です。<br>
              お店の在庫と連動させた本の検索端末を簡単に導入することができます。
            %p
              美しく使いやすい検索機能、売り逃しを可視化する検索データの分析。<br>
              しかも基本プランは無料で、初期費用もかかりません。
            %p
              BOOK PADで、在庫検索をマーケティング・データに変えましょう。
            %button(class="button orange large") 無料お申込みはこちら


      <!-- サービスの特長 -->
      %section(id="benefit" class="grid clearfix")
        %h1(class="hide") サービスの特長
        .col_4
          %i(class="icon-4x icon-search")
          %h2 美しく使いやすい検索
          %p
            BOOK PADの検索機能は、洗練されたUI(ユーザーインターフェイス)で利用者が気持よく検索できるように設計されています。
            著者名・出版社名などのあいまい検索にも対応。レスポンスも速く、従来の端末とくらべてより利用者の利便性が向上します。
        .col_4
          %i(class="icon-4x icon-bar-chart")
          %h2 売り逃しを可視化
          %p
            BOOK PADで検索されたデータは、ダッシュボードで見やすく集計され、いつでも簡単に確認することができます。
            特に検索されたのに在庫がなかった「売り逃し分析」を活用すれば、売上の機会損失を防ぐだけでなく、データをもとにした説得力のある配本要望が可能です。
        .col_4
          %i(class="icon-4x icon-star")
          %h2 基本機能はすべて無料
          %p
            BOOK PADは、お店で既に導入している在庫管理システムと連動させることで簡単にご利用いただけます。
            基本機能のみの利用であれば、初期費用・月額料金ともに無料。
            既に設置済みの検索端末とも並行して稼働可能なため、繁忙期のみ端末を追加といった使い方もできます。


      <!-- 利用者の声 -->

      <!-- 主な機能 -->

      <!-- ご利用の流れ -->
      %section(id="flow" class="grid clearfix")
        %h1(class="title")
          %span ご利用の流れ
        .col_3
          %i(class="icon-4x icon-desktop")
          %h2 サービスに申し込む
          %p 当サイトから必要事項を記入してお申込みください。担当者よりご連絡させていただきます。
        .col_3
          %i(class="icon-4x icon-tags")
          %h2 在庫データの連携
          %p 書店の在庫データをBOOK PADのシステムと連携いたします。データは多様な形式に対応しておりますのでまずはお気軽にご相談ください。
        .col_3
          %i(class="icon-4x icon-cog")
          %h2 オプションの設定
          %p オプションの項目をお申込みの場合、その設定を行います。専用プリンターの設定やフロアマップの登録など、必要に応じて対応いたします。
        .col_3
          %i(class="icon-4x icon-ok")
          %h2 ご利用開始
          %p 設定が完了次第、店舗でBOOK PADのご利用を開始いただけます。お申込みから１〜２週間程度をご想定ください。


      <!-- 料金プラン -->
      %section(id="price" class="grid clearfix")
        %h1(class="title")
          %span 料金プラン
        .clearfix
          .col_4
            %p 初期費用
            %p 無料
          .col_4
            %p 月額利用料
            %p 無料
        %ul
          %li ※iPad本体(インターネット接続可能なもの)はご用意いただく必要があります。
          %li ※その他、プリンターなどのオプション備品をご利用の場合はそれぞれ実費でご購入いただく必要があります。


      <!-- FAQ -->
      %section(id="faq" class="grid clearfix")
        %h1(class="title")
          %span よくある質問
        %div
          %p これはどういうサービスなんですか？
          %p
            BOOK PADは、iPadを利用した書店の店頭設置用在庫検索端末システムです。<br>
            お店の在庫データと連携させることで、面倒なシステムは不要で簡単に在庫検索端末を導入することができます。
        %div
          %p いままでの検索端末と何が違うんですか？
          %p
            大きな特長は、(1)使いやすい画面設計、(2)圧倒的な価格メリット、そして(3)検索データ分析機能の３つです。<br>
            (1)従来の端末でよく不満としてあがっていた、表記ゆれによる検索失敗や使いにくい入力インターフェイスを改善し、ふだんITを使わないご年配の方でも簡単に利用できるデザインとなっています。<br>
            (2)初期費用・利用料をすべて無料としているため、小〜中規模の書店でも簡単に導入することができます。また自前でシステムの開発・保守を続ける必要もなくなるため、大手書店でも大幅なコストメリットを実現可能です。<br>
            (3)従来の端末では検索利用状況がわからないことが多かったのですが、BOOK PADでは手軽にチェックできる検索データの分析ダッシュボードを提供しています。
            そのため店舗にとっても利用者のニーズを可視化し、売り逃しを防ぐツールとして積極的にご活用いただけます。
        %div
          %p すでに検索端末を設置しているのですが、システムを新たに置き換える必要がありますか？
          %p
            BOOK PADは既存の在庫管理システムを利用して店頭に検索端末を提供するものですので、既存のシステムおよび検索端末は引き続き利用できます。
            BOOK PADならiPadさえ用意すれば無料で何台でも設置できるので、繁忙期のみ端末を追加する、といった使い方も可能です。
            (ただし検索データの分析対象となるのはBOOK PAD端末での検索のみとなりますのでご了承ください)
        %div
          %p iPad本体以外にどんな備品が必要になりますか？
          %p
            BOOK PADのご利用にあたって、必ず必要となるのは「iPad本体(インターネット接続可能なもの)」のみです。<br>
            その他のオプションとして、「プリンター」、「キーボード」、「盗難防止ワイヤー」、「BOOK PAD設置台」もご用意しております。<br>
            オプション備品をご利用になる場合は、すべて実費でのご購入となります。
        %div
          %p 在庫を棚番号まで管理していないのですが、それでも使えますか？
          %p
            利用可能です。小さなお店などの場合、検索結果の印刷や棚番号の表示までは行わず、端末上で在庫の有無のみ表示するといった使い方が可能です。
        %div
          %p どうして無料なんですか？
          %p
            BOOK PADは、まちの本屋さんを応援して本をめぐる文化がより活発になれば、とのビジョンのもと運営されています。<br>
            そのためできるだけサービス導入のハードルを下げたいと考え、基本機能はすべて無料という料金体系になっています。<br>
            事業の収益源としては、今後より高度なサービス、複数店舗への導入などに対応した有料プランを提供することを想定しています。<br>
            （有料プラン開始後も、現在提供中のサービスはそのまま無料でお使いいただけます。）

    <!-- Footer -->
    %footer
      %h1(class="hide") フッター
      .grid.clearfix
        .col_4
          %h2 About Us
          %ul
            %li 運営者：Tomomichi Onishi
            %li Mail：info@eure-ka.me
            %li
              Web：
              %a(href="http://www.enthuse.me/kame_f_no7#/" target="_blank") http://www.enthuse.me/kame_f_no7#
        .col_4
          %h2 Links
          %ul
            %li
              %i(class="icon-double-angle-right")
              書店の方へ
            %li
              %i(class="icon-double-angle-right")
              プライバシーポリシー
            %li
              %i(class="icon-double-angle-right")
              特定商取引法に基づく表示
        .col_4
          %h2 Facebook
          .fb-like-box(data-href="https://www.facebook.com/ComicSurprise" data-width="292" data-height="260" data-show-faces="true" data-stream="false" data-show-border="true" data-header="true")
