%section#breadcrumb
  %ul.breadcrumb
    %li
      %a(href="#") ホーム
    %li
      %a(href="#") 検索結果
    %li
      %a(href="#") 本の詳細
    %li#last_bread_3
      %a(href="#") [Book] #{@title}

%section#detail.grid
  %h1.hide BOOK DETAIL
  .col_4
    %div
      %img(src="" id="img")
      %p#title
        %label タイトル：
        %span
      %p#authors
        %label 著 者 名：
        %span
      %p#publisher
        %label 出 版 社：
        %span
    -if @stock.nil?
      %div.left.notice.error
        %i.icon-remove-sign.icon-large
        在庫なし
    -else
      %div.left.notice.success
        %i.icon-ok-sign.icon-large
        棚番号：
        %span #{@stock}
  .col_8
    %img(src="../img/map.gif")
