%section#breadcrumb
  %ul.breadcrumb
    %li
      %a(href="javascript:void(0)") #{t 'breadcrumb.home'}
    %li#last_bread_1
      %a(href="javascript:void(0)") 　

%section#loader

%section#popular.grid
  %h1.hide POPULAR BOOKS
  %div
    -# %p.headline POPULAR COMICS
    .col_2
      %img(src="../img/rec/comic_1.jpg" alt="はたらけ、ケンタウロス！")
      %p
        %strong はたらけ、ケンタウロス！
        %br
        (えすとえむ)
    .col_2
      %img(src="../img/rec/comic_2.jpg" alt="乙嫁語り")
      %p
        %strong 乙嫁語り
        %br
        (森薫)
    .col_2
      %img(src="../img/rec/comic_3.jpg" alt="坂本ですが？")
      %p
        %strong 坂本ですが？
        %br
        (佐野菜見)
    .col_2
      %img(src="../img/rec/comic_4.jpg" alt="魔女")
      %p
        %strong 魔女
        %br
        (五十嵐大介)
    .col_2
      %img(src="../img/rec/comic_5.jpg" alt="山賊ダイアリー")
      %p
        %strong 山賊ダイアリー
        %br
        (岡本健太郎)
    .col_2
      %img(src="../img/rec/comic_6.jpg" alt="亜人")
      %p
        %strong 亜人
        %br
        (桜井画門)
