%section#breadcrumb
  %ul.breadcrumb
    %li
      %a(href="javascript:void(0)") ホーム
    %li#last_bread_1
      %a(href="javascript:void(0)") 　

%section#loader

%section#popular.grid
  %h1.hide POPULAR BOOKS
  %ul.slideshow
    %li
      %p.headline 新聞の書評から
      .col_4.grid
        .col_7
          %img(src="../img/rec/tako.jpg" alt="日本のタコ学")
          %p
            %strong 日本のタコ学
            %br
            奥谷喬司
        .col_5.left
          %p
            「頭」か「腹」か、から「心」まで　ここ２０年で大飛躍をとげた日本の「タコ学」。その成果を集めた論文集となれば一読せずにいられない。たとえば「タコの体」は、どこが頭でどこが背中なのか...
          %p
            (朝日新聞書評より)
          -# %a(href="" class="button")
          -#   %i(class="icon-zoom-in large")
          -#   詳細を見る
      .col_4.grid
        .col_7
          %img(src="../img/rec/takahashi.jpg" alt="高橋是清自伝")
          %p
            %strong 高橋是清自伝(上)
            %br
            高橋是清
        .col_5.left
          %p
            就活がうまくいかず落ち込んでいる学生に、よくも悪くも就職くらいで人生決まらないよと言って、これを勧めたことがある...
          %p
            (読売新聞書評より)
          -# %a(href="" class="button")
          -#   %i(class="icon-zoom-in large")
          -#   詳細を見る
      .col_4.grid
        .col_7
          %img(src="../img/rec/product.jpg" alt="ものづくり成長戦略")
          %p
            %strong ものづくり成長戦略 「産・金・官・学」の地域連携が日本を変える
            %br
            藤本 隆宏, 柴田 孝
        .col_5.left
          %p
            「グローバル競争の潮目は変わり、日本現場にとって最悪の苦難の時は終わろうとしている」とする本書の主張に評者は心から同感する...
          %p
            (日経新聞書評より)
          -# %a(href="" class="button")
          -#   %i(class="icon-zoom-in large")
          -#   詳細を見る
    %li
      %p.headline 通なマンガ特集
      .col_2
        %img(src="../img/rec/comic_1.jpg" alt="はたらけ、ケンタウロス！")
        %p
          %strong はたらけ、ケンタウロス！
          %br
          (えすとえむ)
      .col_2
        %img(src="../img/rec/comic_2.jpg" alt="乙嫁語り")
        %p
          %strong 乙嫁語り
          %br
          (森薫)
      .col_2
        %img(src="../img/rec/comic_3.jpg" alt="坂本ですが？")
        %p
          %strong 坂本ですが？
          %br
          (佐野菜見)
      .col_2
        %img(src="../img/rec/comic_4.jpg" alt="魔女")
        %p
          %strong 魔女
          %br
          (五十嵐大介)
      .col_2
        %img(src="../img/rec/comic_5.jpg" alt="山賊ダイアリー")
        %p
          %strong 山賊ダイアリー
          %br
          (岡本健太郎)
      .col_2
        %img(src="../img/rec/comic_6.jpg" alt="亜人")
        %p
          %strong 亜人
          %br
          (桜井画門)
