<h1>Search</h1>
<ul>
<% @result['Items'].each do |res| %>
	<li><%=res["Item"]["title"]%></li>
	<li><%=res["Item"]["isbn"]%></li>
	<a href="result/<%=res['Item']['isbn']%>">
		<li><img src="<%=res['Item']['mediumImageUrl']%>"></li>
	</a>
<% end%>

</ul>
