@charset "UTF-8";
/*****************************************************************
* SETTING
*****************************************************************/
/*****************************************************************
* COMMON
*****************************************************************/
/* line 15, ../scss/about.scss */
body {
  background: url("/img/bg_all.png");
  font: 80%/19px Helvetica, Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif !important;
  letter-spacing: 0.1em !important;
  color: #333333;
  margin: 0;
}

/* line 23, ../scss/about.scss */
ul {
  margin-left: 0;
}
/* line 25, ../scss/about.scss */
ul li {
  list-style: none;
}

/* line 28, ../scss/about.scss */
section {
  margin-bottom: 70px !important;
}

@media all and (min-width: 481px) {
  /* line 29, ../scss/about.scss */
  #container {
    margin-top: 64px;
  }
}

/* line 36, ../scss/about.scss */
a:hover {
  color: #ff6622;
}

/* line 38, ../scss/about.scss */
.title {
  font-size: x-large;
  font-weight: normal;
  border-left: 8px double #ff6622;
  padding-left: 8px;
  margin-bottom: 10px;
}

/*****************************************************************
* HEADER
*****************************************************************/
/* line 50, ../scss/about.scss */
header {
  position: fixed;
  width: 100%;
  height: 64px;
  top: 0;
  z-index: 2;
  padding: 0 15px;
  background: #FFF;
  border-top: 2px solid #336774;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0;
}
/* line 61, ../scss/about.scss */
header div {
  position: absolute;
  width: 100%;
  z-index: -1;
}
/* line 66, ../scss/about.scss */
header h1 {
  display: inline-block;
  font-size: xx-large;
  font-family: "Megrim", cursive;
}
/* line 70, ../scss/about.scss */
header h1 a {
  color: #336774;
  text-decoration: none;
}
/* line 75, ../scss/about.scss */
header small {
  color: #AAA;
}
/* line 78, ../scss/about.scss */
header nav {
  float: right;
}
/* line 80, ../scss/about.scss */
header nav ul {
  margin: 0;
}
/* line 81, ../scss/about.scss */
header nav li {
  display: inline;
  margin-left: 20px;
  line-height: 64px;
  font-size: larger;
}
/* line 86, ../scss/about.scss */
header nav li a {
  text-decoration: none;
  color: #333333;
}
@media all and (max-width: 480px) {
  /* line 50, ../scss/about.scss */
  header {
    position: relative;
  }
  /* line 96, ../scss/about.scss */
  header nav li {
    display: none;
  }
  /* line 97, ../scss/about.scss */
  header h1 {
    position: relative;
    text-align: center;
    line-height: 1.3em;
  }
}

/*****************************************************************
* ABOUT
*****************************************************************/
/* line 110, ../scss/about.scss */
#about {
  background: url("/img/about/book.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  padding: 50px 0;
  text-shadow: #dddddd 0px 1px 1px;
}
/* line 119, ../scss/about.scss */
#about h1 {
  font-size: xx-large;
}
/* line 123, ../scss/about.scss */
#about div:first-child img {
  width: 100%;
}
/* line 125, ../scss/about.scss */
#about div:nth-child(2) {
  margin-top: 30px;
}
/* line 128, ../scss/about.scss */
#about p {
  margin: 20px 0;
}
/* line 129, ../scss/about.scss */
#about button {
  line-height: 1.5em;
}
@media all and (max-width: 480px) {
  /* line 110, ../scss/about.scss */
  #about {
    padding: 20px 0;
    text-align: center;
  }
  /* line 137, ../scss/about.scss */
  #about h1 {
    font-size: 1.7em;
  }
}

/*****************************************************************
* BENEFIT
*****************************************************************/
/* line 146, ../scss/about.scss */
#benefit div {
  text-align: center;
}
/* line 147, ../scss/about.scss */
#benefit i {
  color: #336774;
}
/* line 148, ../scss/about.scss */
#benefit h2 {
  font-size: x-large;
  font-weight: normal;
  color: #ff6622;
}
@media all and (max-width: 480px) {
  /* line 156, ../scss/about.scss */
  #benefit div {
    margin-bottom: 30px;
  }
}

/*****************************************************************
* FLOW
*****************************************************************/
/* line 165, ../scss/about.scss */
#flow h2 {
  font-size: large;
}
/* line 166, ../scss/about.scss */
#flow div {
  text-align: center;
  border: 1px solid #336774;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 15px;
  min-height: 234px;
}
/* line 172, ../scss/about.scss */
#flow div i {
  color: #336774;
}
@media all and (max-width: 480px) {
  /* line 177, ../scss/about.scss */
  #flow div {
    min-height: 0;
  }
}

/*****************************************************************
* PRICE
*****************************************************************/
/* line 186, ../scss/about.scss */
#price div {
  text-align: center;
}
/* line 187, ../scss/about.scss */
#price .col_4 {
  text-align: center;
  border: 3px solid #336774;
  padding: 0;
}
/* line 191, ../scss/about.scss */
#price .col_4 p {
  margin: 0;
}
/* line 192, ../scss/about.scss */
#price .col_4 p:first-child {
  padding: 10px;
  font-size: large;
  background: #336774;
  color: white;
}
/* line 198, ../scss/about.scss */
#price .col_4 p:last-child {
  padding: 20px;
  font-weight: bold;
  font-size: x-large;
  color: #336774;
}
/* line 205, ../scss/about.scss */
#price ul {
  margin-top: 10px;
  font-size: smaller;
  line-height: 1.2em;
}
@media all and (max-width: 480px) {
  /* line 213, ../scss/about.scss */
  #price div.col_4 {
    margin-bottom: 20px;
  }
}

/*****************************************************************
* FAQ
*****************************************************************/
/* line 222, ../scss/about.scss */
#faq div {
  margin: 30px 0;
}
/* line 224, ../scss/about.scss */
#faq div p:first-child {
  font-size: large;
  font-weight: bold;
}
/* line 227, ../scss/about.scss */
#faq div p:first-child:before {
  content: "Q.";
  font-size: x-large;
}

/*****************************************************************
* FOOTER
*****************************************************************/
/* line 239, ../scss/about.scss */
footer {
  background: #336774;
  padding: 20px 0;
  min-height: 260px;
  color: #AAA;
  font-size: 11px;
}
/* line 245, ../scss/about.scss */
footer h2 {
  color: #efefef;
  font-size: 14px;
  font-weight: normal;
  border-bottom: 1px dotted #efefef;
}
/* line 252, ../scss/about.scss */
footer a {
  text-decoration: none;
  color: #efefef;
}

/* line 258, ../scss/about.scss */
.fb-like-box {
  background: #FFF;
}

/*****************************************************************
* BANNER
*****************************************************************/
/* line 263, ../scss/about.scss */
.banner {
  width: 100%;
  background: url("../img/stripe.png");
  margin: 30px 0;
  padding: 20px 0;
  text-align: center;
}
/* line 269, ../scss/about.scss */
.banner h2 {
  display: inline;
  font-size: x-large;
}
/* line 273, ../scss/about.scss */
.banner i {
  margin: 0 10px;
}
/* line 276, ../scss/about.scss */
.banner a {
  margin-top: -10px;
}
