@charset "UTF-8";
/*****************************************************************
* SETTING
*****************************************************************/
/*****************************************************************
* COMMON
*****************************************************************/
/* line 15, ../scss/main.scss */
body {
  background: url("../img/bg_all.png");
  font: 80%/19px Helvetica, Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif !important;
  letter-spacing: 0.1em !important;
  color: #333333;
  margin: 0;
}

/* line 23, ../scss/main.scss */
* {
  -webkit-touch-callout: none;
}

/* line 24, ../scss/main.scss */
*:not(input) {
  -webkit-user-select: none;
}

/* line 26, ../scss/main.scss */
ul {
  margin-left: 0;
}
/* line 28, ../scss/main.scss */
ul li {
  list-style: none;
}

/* line 31, ../scss/main.scss */
section {
  margin-bottom: 50px !important;
}

/* line 33, ../scss/main.scss */
.title {
  text-align: left;
  font-size: x-large;
  font-weight: normal;
  color: #336774;
  margin-bottom: 20px;
  border-left: 8px double #ff6622;
  padding-left: 8px;
  margin-left: 10px;
}

/* line 44, ../scss/main.scss */
.grid {
  max-width: 100%;
}

/* line 46, ../scss/main.scss */
.btn-100 {
  width: 100%;
}

/*****************************************************************
* HEADER
*****************************************************************/
/* line 52, ../scss/main.scss */
header {
  background: #336774;
  position: relative;
  height: 70px;
  z-index: 2;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0;
}
/* line 58, ../scss/main.scss */
header h1 {
  display: inline-block;
  font-size: xx-large;
  font-weight: normal;
  font-family: "Megrim", cursive;
  color: #FFF;
  margin: 0;
  line-height: 70px;
}
/* line 67, ../scss/main.scss */
header small {
  font-size: xx-small;
  color: #DDD;
}
/* line 71, ../scss/main.scss */
header li {
  position: absolute;
  top: 12px;
}
/* line 74, ../scss/main.scss */
header li:first-child {
  left: 10px;
}
/* line 77, ../scss/main.scss */
header li:last-child {
  right: 10px;
}

/*****************************************************************
* TOP
*****************************************************************/
/* line 87, ../scss/main.scss */
#search {
  margin-bottom: 0 !important;
  padding: 70px 0;
  background: url("../img/stripe.png");
  overflow: hidden;
  text-align: center;
}
/* line 94, ../scss/main.scss */
#search input::-webkit-input-placeholder {
  font-size: medium;
  padding-top: 5px;
  color: #CCC;
}
/* line 99, ../scss/main.scss */
#search input[type="text"] {
  height: 45px;
  font-size: x-large;
  margin-top: 0;
  margin-left: 0;
  padding-left: 15px;
  width: 60%;
}
/* line 107, ../scss/main.scss */
#search a {
  font-size: 1.5em;
  padding-left: 35px;
  padding-right: 35px;
  height: 45px;
}

/*****************************************************************
* POPULAR BOOKS
*****************************************************************/
/* line 119, ../scss/main.scss */
#popular {
  text-align: center;
}
/* line 121, ../scss/main.scss */
#popular .bx-viewport {
  box-shadow: none;
  border: none;
  background: none;
}
/* line 126, ../scss/main.scss */
#popular .title {
  font-size: large;
}

/*****************************************************************
* RESULT
*****************************************************************/
/* line 135, ../scss/main.scss */
#result {
  text-align: center;
  overflow: hidden;
}
/* line 138, ../scss/main.scss */
#result .notice {
  padding: 6px 20px 5px 35px;
}
/* line 141, ../scss/main.scss */
#result p {
  height: 38px;
  overflow: hidden;
}
/* line 145, ../scss/main.scss */
#result a {
  width: 100%;
}
/* line 146, ../scss/main.scss */
#result .col_2 {
  margin-bottom: 30px;
}
/* line 148, ../scss/main.scss */
#result .col_2 div:first-child div {
  max-width: 128px;
  height: 185px;
  margin: 0 auto;
}
/* line 153, ../scss/main.scss */
#result .col_2 img {
  max-height: 100%;
}

/*****************************************************************
* DETAIL
*****************************************************************/
/* line 162, ../scss/main.scss */
#detail label {
  margin-top: 0;
}
/* line 163, ../scss/main.scss */
#detail span {
  font-weight: bold;
}
/* line 164, ../scss/main.scss */
#detail .notice span {
  font-size: large;
}
/* line 165, ../scss/main.scss */
#detail .col_8 img {
  width: 100%;
}

/*****************************************************************
* BREADCRUMB
* (c.f. http://coliss.com/articles/build-websites/operation/css/css-tutorial-breadcrumbs-with-css-triangle.html)
*****************************************************************/
/* line 177, ../scss/main.scss */
#breadcrumb {
  border-top: 2px solid #DDD;
  border-bottom: 2px solid #DDD;
  padding-top: 2px;
  padding-bottom: 2px;
}
/* line 182, ../scss/main.scss */
#breadcrumb ul {
  margin-bottom: 0;
}
/* line 183, ../scss/main.scss */
#breadcrumb a {
  cursor: default;
}

/* line 186, ../scss/main.scss */
#last_bread_1 {
  width: 90%;
}

/* line 187, ../scss/main.scss */
#last_bread_2 {
  width: 78%;
}

/* line 188, ../scss/main.scss */
#last_bread_3 {
  width: 66%;
}

/* line 190, ../scss/main.scss */
.breadcrumb {
  list-style: none;
  overflow: hidden;
}

/* line 194, ../scss/main.scss */
.breadcrumb li {
  float: left;
  padding: 0;
  width: 12%;
}
/* line 198, ../scss/main.scss */
.breadcrumb li:last-child {
  background: #EEE;
}
/* line 201, ../scss/main.scss */
.breadcrumb li:first-child {
  width: 10%;
}

/* line 205, ../scss/main.scss */
.breadcrumb li a {
  color: white;
  width: 100%;
  text-decoration: none;
  padding: 10px 0px 10px 55px;
  background: brown;
  /* fallback color */
  background: #a5630d;
  position: relative;
  display: block;
  float: left;
}

/* line 216, ../scss/main.scss */
.breadcrumb li a:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid #a5630d;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 99%;
  z-index: 2;
}

/* line 230, ../scss/main.scss */
.breadcrumb li a:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 1;
}

/* line 245, ../scss/main.scss */
.breadcrumb li:first-child a {
  padding-left: 40px;
}

/* line 248, ../scss/main.scss */
.breadcrumb li:nth-child(2) a {
  background: #d48011;
}

/* line 249, ../scss/main.scss */
.breadcrumb li:nth-child(2) a:after {
  border-left-color: #d48011;
}

/* line 250, ../scss/main.scss */
.breadcrumb li:nth-child(3) a {
  background: #ee992b;
}

/* line 251, ../scss/main.scss */
.breadcrumb li:nth-child(3) a:after {
  border-left-color: #ee992b;
}

/* line 252, ../scss/main.scss */
.breadcrumb li:nth-child(4) a {
  background: #f2b05a;
}

/* line 253, ../scss/main.scss */
.breadcrumb li:nth-child(4) a:after {
  border-left-color: #f2b05a;
}

/* line 254, ../scss/main.scss */
.breadcrumb li:nth-child(5) a {
  background: #f5c689;
}

/* line 255, ../scss/main.scss */
.breadcrumb li:nth-child(5) a:after {
  border-left-color: #f5c689;
}

/* line 256, ../scss/main.scss */
.breadcrumb li:last-child a {
  background: transparent !important;
  color: black;
  pointer-events: none;
  cursor: default;
}

/* line 262, ../scss/main.scss */
.breadcrumb li:last-child a:after {
  border: 0;
}
